*{
	margin: 0px;
	padding: 0px
}
div.top {
    width:96%;
 	position: relative;
    padding: 2%;
    background-color: #E71E24;
}
div.bottom{
	width: 66%;
	padding:17%;
	position: relative;
	background-color: #38383D;
}
/*form*/
nav form button{
	background:#E71E24;
	width: 10%;
	margin-left:0%;
}
nav form input{
	height: 40px;
	margin-top: 2%;
	font-size: 130%;
	text-align: center;
	font-color: #000;
	margin-bottom: 2%;
	margin-left: 87%;
	width: 10%;

}

/*nav*/	
}
nav {
 text-align: center;
 width: 100%;
 font-family: arial;
 } 
 nav ul {
 background:#EFEFEF;
 margin-top: 1%;
 margin-left: -15%;
 list-style: none;
 position: absolute;
 display: inline-table;
 width: 100%;
 }
 nav ul li{
 float:right;
 }

 nav ul li:hover{
 background:#E5e5e5;
 }

 nav ul li:hover a{
 color:#E91E2A;
 }

 nav ul li a{
 	font-size: 200%;
 display: block;
 padding: 25px;
 color: #93807D;
 text-decoration: none;}

 nav ul li a img{
 	width:10%;
 	height:30px;
 	position: relative;
 	margin-top: 1%;
 }


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    margin-top: 0%;
    height: 430px;
}